@Scripts.Render("~/bundles/Product/AddEdit")

<div class="row">
    <div class="col-sm-8 col-sm-push-2">
        @using (Html.BeginForm("AddEdit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-sm-12">
                    <label class="form-label">Name</label>
                    <input class="form-control" name="Name" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="form-label">Category</label>
                    <select class="form-control" name="CategoryId" required>
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">
                                @item.Name
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="form-label">Description</label>
                    <input class="form-control" name="Description" required />
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Small image</label>
                    <input class="form-control" name="SmallImage" type="file">
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Big image</label>
                    <input class="form-control" name="BigImage" type="file">
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="extraFiles">
                    <template id="customFileTemplate">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label">Custom file</label>
                                    <input class="form-control" name="File_{0}" type="file">
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">File Description</label>
                                <input class="form-control" name="FileNames[{0}]" required />
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-end">
                    <div class="btn btn-secondary" id="btnAddFile">Add custom file</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        }
    </div>
</div>